body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
}

#clima {
    margin-top: 20px;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: girar 1s linear infinite;
    margin: 20px auto;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#cargando {
    display: none;
    color: gray;
}

.clima-icono {
    width: 64px;
    height: 64px;
}

.noche {
    filter: brightness(0.8);
}

#horaLocal {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}